In [1]:
%store -r

In [2]:
rides_df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,...,start_hour,active_6m,annual,monthly,one_day,walk_up,one_way,round_trip,time_block_count,time_block_count_post_free
0,33404951,36,2017-07-01 00:09:00,2017-07-01 00:45:00,3018,34.043732,-118.260139,3018,34.043732,-118.260139,...,0,1,0,0,0,1,0,1,2,1
1,33404950,13,2017-07-01 00:10:00,2017-07-01 00:23:00,3055,34.044159,-118.251579,3082,34.046520,-118.237411,...,0,1,0,0,0,1,1,0,1,0
2,33404947,34,2017-07-01 00:11:00,2017-07-01 00:45:00,3018,34.043732,-118.260139,3018,34.043732,-118.260139,...,0,1,0,0,0,1,0,1,2,1
3,33404948,34,2017-07-01 00:11:00,2017-07-01 00:45:00,3018,34.043732,-118.260139,3018,34.043732,-118.260139,...,0,1,0,0,0,1,0,1,2,1
4,33404949,12,2017-07-01 00:11:00,2017-07-01 00:23:00,3055,34.044159,-118.251579,3082,34.046520,-118.237411,...,0,1,0,0,0,1,1,0,1,0
5,33404946,18,2017-07-01 00:12:00,2017-07-01 00:30:00,3047,34.039982,-118.266403,3005,34.048500,-118.258537,...,0,1,0,0,0,1,1,0,1,0
6,33404945,23,2017-07-01 00:20:00,2017-07-01 00:43:00,3067,34.045181,-118.250237,3055,34.044159,-118.251579,...,0,1,0,1,0,0,1,0,1,0
7,33404944,3,2017-07-01 00:24:00,2017-07-01 00:27:00,3005,34.048500,-118.258537,3051,34.045422,-118.253517,...,0,1,0,1,0,0,1,0,1,0
8,33404943,4,2017-07-01 00:32:00,2017-07-01 00:36:00,3046,34.053020,-118.247948,3062,34.047749,-118.243172,...,0,1,0,1,0,0,1,0,1,0
9,33404942,8,2017-07-01 00:33:00,2017-07-01 00:41:00,3038,34.046822,-118.248352,3038,34.046822,-118.248352,...,0,1,0,1,0,0,0,1,1,0
10,33410192,30,2017-07-01 00:45:00,2017-07-01 01:15:00,3055,34.044159,-118.251579,3051,34.045422,-118.253517,...,0,0,0,1,0,0,1,0,1,0
11,33496628,980,2017-07-01 00:48:00,2017-07-01 17:08:00,3051,34.045422,-118.253517,3064,34.046810,-118.256981,...,0,1,0,1,0,0,1,0,33,32
12,33404941,3,2017-07-01 00:52:00,2017-07-01 00:55:00,3027,34.049980,-118.247162,3067,34.045181,-118.250237,...,0,1,0,1,0,0,1,0,1,0
13,33410190,10,2017-07-01 00:59:00,2017-07-01 01:09:00,3018,34.043732,-118.260139,3052,34.051102,-118.264557,...,0,1,0,0,0,1,1,0,1,0
16,33410187,25,2017-07-01 01:07:00,2017-07-01 01:32:00,3063,34.049198,-118.252831,3005,34.048500,-118.258537,...,1,1,0,0,0,1,1,0,1,0
17,33410185,39,2017-07-01 01:14:00,2017-07-01 01:53:00,3032,34.049889,-118.255882,3011,34.041130,-118.267982,...,1,1,0,0,0,1,1,0,2,1
18,33410186,1,2017-07-01 01:14:00,2017-07-01 01:15:00,3038,34.046822,-118.248352,3038,34.046822,-118.248352,...,1,1,0,0,0,1,0,1,1,0
19,33415444,68,2017-07-01 01:28:00,2017-07-01 02:36:00,3067,34.045181,-118.250237,3076,34.040600,-118.253838,...,1,1,0,0,0,1,1,0,3,2
20,33410184,4,2017-07-01 01:30:00,2017-07-01 01:34:00,3046,34.053020,-118.247948,3049,34.056969,-118.253593,...,1,1,0,1,0,0,1,0,1,0
21,33410183,5,2017-07-01 01:38:00,2017-07-01 01:43:00,3064,34.046810,-118.256981,3034,34.042061,-118.263382,...,1,1,0,1,0,0,1,0,1,0
22,33415440,13,2017-07-01 01:59:00,2017-07-01 02:12:00,3048,34.041691,-118.235352,3031,34.044701,-118.252441,...,1,1,0,1,0,0,1,0,1,0
23,33415441,13,2017-07-01 01:59:00,2017-07-01 02:12:00,3048,34.041691,-118.235352,3031,34.044701,-118.252441,...,1,1,0,0,0,1,1,0,1,0
24,33415439,19,2017-07-01 02:00:00,2017-07-01 02:19:00,3048,34.041691,-118.235352,3064,34.046810,-118.256981,...,2,1,0,0,0,1,1,0,1,0
25,33415438,18,2017-07-01 02:01:00,2017-07-01 02:19:00,3048,34.041691,-118.235352,3064,34.046810,-118.256981,...,2,1,0,0,0,1,1,0,1,0
26,33415437,16,2017-07-01 02:09:00,2017-07-01 02:25:00,3078,34.064281,-118.238937,3022,34.046070,-118.233093,...,2,1,0,0,0,1,1,0,1,0
27,33415435,26,2017-07-01 02:26:00,2017-07-01 02:52:00,3008,34.046612,-118.262733,3068,34.053200,-118.250954,...,2,1,0,0,0,1,1,0,1,0
28,33415436,27,2017-07-01 02:26:00,2017-07-01 02:53:00,3008,34.046612,-118.262733,3068,34.053200,-118.250954,...,2,1,0,0,0,1,1,0,1,0
29,33415434,10,2017-07-01 02:43:00,2017-07-01 02:53:00,3062,34.047749,-118.243172,3038,34.046822,-118.248352,...,2,1,0,1,0,0,1,0,1,0
30,33420698,4,2017-07-01 02:56:00,2017-07-01 03:00:00,3005,34.048500,-118.258537,3031,34.044701,-118.252441,...,2,1,0,1,0,0,1,0,1,0
31,33420697,11,2017-07-01 03:14:00,2017-07-01 03:25:00,3048,34.041691,-118.235352,3031,34.044701,-118.252441,...,3,1,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281416,94837043,9,2018-06-30 22:35:00,2018-06-30 22:44:00,4202,33.991161,-118.468292,4204,33.988419,-118.451630,...,22,1,0,0,0,1,1,0,1,0
281417,94837042,15,2018-06-30 22:36:00,2018-06-30 22:51:00,3065,34.060558,-118.238327,3065,34.060558,-118.238327,...,22,1,0,0,0,1,0,1,1,0
281418,94844571,30,2018-06-30 22:36:00,2018-06-30 23:06:00,4215,34.014309,-118.491341,4215,34.014309,-118.491341,...,22,1,0,0,0,1,0,1,1,0
281419,94837041,7,2018-06-30 22:37:00,2018-06-30 22:44:00,4202,33.991161,-118.468292,4204,33.988419,-118.451630,...,22,1,0,0,0,1,1,0,1,0
281420,94844568,29,2018-06-30 22:37:00,2018-06-30 23:06:00,4215,34.014309,-118.491341,4215,34.014309,-118.491341,...,22,1,0,0,0,1,0,1,1,0
281421,94837040,13,2018-06-30 22:38:00,2018-06-30 22:51:00,3064,34.046810,-118.256981,3042,34.049301,-118.238808,...,22,1,0,1,0,0,1,0,1,0
281422,94844566,28,2018-06-30 22:39:00,2018-06-30 23:07:00,4215,34.014309,-118.491341,4215,34.014309,-118.491341,...,22,1,0,0,0,1,0,1,1,0
281423,94837039,13,2018-06-30 22:45:00,2018-06-30 22:58:00,4162,34.147499,-118.148010,4181,34.146221,-118.135262,...,22,1,0,0,0,1,1,0,1,0
281424,94844565,28,2018-06-30 22:45:00,2018-06-30 23:13:00,3042,34.049301,-118.238808,3025,34.032860,-118.268082,...,22,1,0,1,0,0,1,0,1,0
281425,94837038,10,2018-06-30 22:48:00,2018-06-30 22:58:00,4162,34.147499,-118.148010,4181,34.146221,-118.135262,...,22,1,0,0,0,1,1,0,1,0
281426,94837037,4,2018-06-30 22:51:00,2018-06-30 22:55:00,3032,34.049889,-118.255882,3018,34.043732,-118.260139,...,22,1,0,1,0,0,1,0,1,0
281427,94844561,3,2018-06-30 23:07:00,2018-06-30 23:10:00,3076,34.040600,-118.253838,3067,34.045181,-118.250237,...,23,1,0,1,0,0,1,0,1,0
281428,94851159,49,2018-06-30 23:14:00,2018-07-01 00:03:00,3075,34.042110,-118.256187,3082,34.046520,-118.237411,...,23,1,0,0,0,1,1,0,2,1
281429,94844559,13,2018-06-30 23:16:00,2018-06-30 23:29:00,3066,34.063389,-118.236160,3062,34.047749,-118.243172,...,23,1,1,0,0,0,1,0,1,0
281430,94844560,13,2018-06-30 23:16:00,2018-06-30 23:29:00,3066,34.063389,-118.236160,3062,34.047749,-118.243172,...,23,1,1,0,0,0,1,0,1,0
281431,94844558,3,2018-06-30 23:21:00,2018-06-30 23:24:00,3048,34.041691,-118.235352,3022,34.046070,-118.233093,...,23,1,0,1,0,0,1,0,1,0
281432,94844557,17,2018-06-30 23:22:00,2018-06-30 23:39:00,3078,34.064281,-118.238937,3042,34.049301,-118.238808,...,23,1,0,0,0,1,1,0,1,0
281433,94844556,17,2018-06-30 23:23:00,2018-06-30 23:40:00,3078,34.064281,-118.238937,3042,34.049301,-118.238808,...,23,1,0,0,0,1,1,0,1,0
281434,94844555,9,2018-06-30 23:24:00,2018-06-30 23:33:00,3054,34.039219,-118.236488,3063,34.048038,-118.253738,...,23,1,0,1,0,0,1,0,1,0
281435,94844554,14,2018-06-30 23:25:00,2018-06-30 23:39:00,3078,34.064281,-118.238937,3042,34.049301,-118.238808,...,23,1,0,0,0,1,1,0,1,0
281436,94844553,14,2018-06-30 23:26:00,2018-06-30 23:40:00,3078,34.064281,-118.238937,3042,34.049301,-118.238808,...,23,1,0,0,0,1,1,0,1,0
281437,94844552,9,2018-06-30 23:30:00,2018-06-30 23:39:00,3066,34.063389,-118.236160,3042,34.049301,-118.238808,...,23,1,0,0,0,1,1,0,1,0
281438,94844550,5,2018-06-30 23:31:00,2018-06-30 23:36:00,3005,34.048500,-118.258537,3067,34.045181,-118.250237,...,23,1,0,1,0,0,1,0,1,0
281439,94844551,16,2018-06-30 23:31:00,2018-06-30 23:47:00,3074,34.044170,-118.261169,3023,34.050911,-118.240967,...,23,1,0,1,0,0,1,0,1,0
281440,94851147,39,2018-06-30 23:31:00,2018-07-01 00:10:00,3040,34.053570,-118.266357,3040,34.053570,-118.266357,...,23,1,0,0,0,1,0,1,2,1
281441,94851146,37,2018-06-30 23:33:00,2018-07-01 00:10:00,3040,34.053570,-118.266357,3040,34.053570,-118.266357,...,23,1,0,0,0,1,0,1,2,1
281442,94851145,23,2018-06-30 23:40:00,2018-07-01 00:03:00,3008,34.046612,-118.262733,3019,34.038609,-118.260857,...,23,1,0,1,0,0,1,0,1,0
281443,94844549,1,2018-06-30 23:45:00,2018-06-30 23:46:00,3013,33.779819,-118.263023,3013,33.779819,-118.263023,...,23,1,0,0,0,1,0,1,1,0
281444,94844548,3,2018-06-30 23:49:00,2018-06-30 23:52:00,3029,34.048851,-118.246422,3067,34.045181,-118.250237,...,23,1,0,1,0,0,1,0,1,0
281445,94851142,29,2018-06-30 23:52:00,2018-07-01 00:21:00,3013,33.779819,-118.263023,3013,33.779819,-118.263023,...,23,1,0,0,0,1,0,1,1,0