In [1]:
import pandas as pd

In [2]:
new_data = pd.read_csv('../data/external/2018Q3.csv')
new_data.head()

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,94851140,8,2018-07-01 00:04:00,2018-07-01 00:12:00,3058,34.035801,-118.233170,3082,34.046520,-118.237411,6279,30,One Way,Monthly Pass
1,94851141,8,2018-07-01 00:04:00,2018-07-01 00:12:00,3058,34.035801,-118.233170,3082,34.046520,-118.237411,6518,365,One Way,Flex Pass
2,94851138,15,2018-07-01 00:09:00,2018-07-01 00:24:00,4147,34.145248,-118.150070,4174,34.165291,-118.150970,4823,365,One Way,Monthly Pass
3,94851137,7,2018-07-01 00:22:00,2018-07-01 00:29:00,4157,34.140999,-118.132088,4162,34.147499,-118.148010,6115,30,One Way,Monthly Pass
4,94851136,35,2018-07-01 00:23:00,2018-07-01 00:58:00,3013,33.779819,-118.263023,3013,33.779819,-118.263023,12055,1,Round Trip,Walk-up

In [3]:
new_data.shape

(95283, 14)

In [4]:
old_data = pd.read_csv('../data/external/2018Q2.csv')
old_data.shape

(77357, 14)

In [10]:
new_stats = new_data.groupby('passholder_type').agg({
    'trip_id' : 'count',
    'duration' : 'sum'
})
old_stats= old_data.groupby('passholder_type').agg({
    'trip_id' : 'count',
    'duration' : 'sum'
})

In [11]:
new_stats

                 trip_id  duration
passholder_type
Annual Pass           12      1459
Flex Pass           1577     31684
Monthly Pass       43967    883475
One Day Pass        4737    361091
Walk-up            44990   3326240

In [12]:
old_stats

                 trip_id  duration
passholder_type
Flex Pass           2729     60166
Monthly Pass       40082    672891
One Day Pass        5942    417190
Walk-up            22461   1479077